<!DOCTYPE html>
<html lang="de">
<head>
    <title>Hühnis</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/android-launchericon-96-96.png">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css">
    <link rel="stylesheet" href="/assets/style.css">
    <script defer type="text/javascript" src="/socket-io/socket.io.min.js"></script>
    <script defer type="text/javascript" src="/jquery/jquery.min.js"></script>
    <script defer type="text/javascript" src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script defer type="text/javascript" src="/sweetalert2/sweetalert2.min.js"></script>
    <script defer type="text/javascript" src="/assets/script.js"></script>
    <% const translate = status => (status === 'open') ? 'geöffnet' : (status === 'closed') ? 'geschlossen' : status %>
</head>
<body>
    <main>
        <div class="container py-4">
            <header class="mb-4 border-bottom">
                <div class="d-flex align-items-center text-dark text-decoration-none w-100" style="justify-content: space-between;">
                    <div>
                        <img src="/images/apple-touch-icon.png" class="header-img me-3" style="margin-bottom: -5px;">
                        <span class="fs-4">Hühnerstall IT</span>
                    </div>
                    <div class="me-0 pe-2 pb-1">
                        <i class="bi bi-arrow-repeat fs-5" id="refresh"></i>
                    </div>
                </div>
            </header>
            <div id="errorMsg" class="alert alert-danger alert-dismissible fade show hidden" role="alert">
                <span class="ps-1 message"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="row align-items-md-stretch">
                <div class="col-md-6 mb-3">
                    <div class="h-100 p-4 bg-light border rounded-3">
                        <h2>Status</h2>
                        <div class="row">
                            <div class="col-12 mb-2">
                                <i class="bi bi-house-door pe-2"></i>
                                Hühnerklappe:
                                <span class="ps-1 pe-1" id="flap">
                                    <%= translate(rpiData.flap.status) %>
                                    <button class="btn btn-sm btn-<%= (rpiData.flap.status=='open' ) ? 'danger' : 'success' %> py-0 px-1 ms-2" id="flapControlBtn">
                                        <%= (rpiData.flap.status=='open' ) ? 'schließen' : 'öffnen' %>
                                    </button>
                                </span>
                                <a href="#">
                                    <i class="bi" id="flapControlBtn" title=""></i>
                                </a>
                            </div>
                            <div class="col-12 mb-2">
                                <i class="bi bi-door-closed pe-2"></i>
                                Stalltüre:
                                <span class="ps-1" id="door">
                                    <%= translate(rpiData.door.status) %>
                                </span>
                            </div>
                            <div class="col-12 mb-2">
                                <i class="bi bi-thermometer-sun pe-2"></i>
                                Stall-Temperatur:
                                <span class="px-1" id="temperature">
                                    <%= rpiData.climate.temperature %> Grad
                                </span>
                            </div>
                            <div class="col-12 mb-2">
                                <i class="bi bi-moisture pe-2"></i>
                                Luftfeuchtigkeit:
                                <span class="ps-1" id="humidity">
                                    <%= rpiData.climate.humidity %>%
                                </span>
                            </div>
                            <div class="col-12">
                                <i class="bi bi-cpu pe-2"></i>
                                System-Temperatur:
                                <span class="ps-1" id="humidity">
                                    <%= rpiData.temp %> Grad
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="h-100 p-4 bg-light border rounded-3">
                        <div class="d-flex justify-content-between">
                            <h2>Webcam</h2>
                            <div class="align-self-center pt-2">
                                <a href="#" class="me-3" id="takeSnapshot"><i class="bi bi-camera"></i></a>
                                <a href="<%= streamURL %>" id="fullscreen"><i class="bi bi-display"></i></a>
                            </div>
                        </div>
                        <div id="webcam">
                            <img id="webstream" src="" style="transform: scale(-1, -1)">
                        </div>
                        <div class="alert alert-danger hidden"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>